
<h1>FAIR Metrics Evaluation Tool</h1>


<h2>About the FAIR Metrics Evaluation Tool</h2>

  <p>Give some info here one day.</p>
  <% links = @result.map {|p| "click here <a href='#{p}'>#{p}</a><br/>"} %>
  <% @result.each do |e| %>
   <a href='<%= e %>'><%= e %></a><br/>
<% end %>


