
<body lang="en-US" dir="ltr">
<h1 align="center">The FAIR Evaluator</h1>
<p align="center">Test a (meta)data resource against the <a href="https://www.biorxiv.org/content/early/2017/12/01/225490">FAIR
Metrics</a></p>
<p align="center"><br/>
<br/>

</p>
<p align="center"><b>Public Entry Points:</b></p>
<p align="center"><a href="">Browse Metrics</a></p>
<p align="center"><a href="">Register a new Metric</a></p>
<p align="center"><a href="">Browse Metrics Collections</a> <br/>
(note
that, for the review period, the creation/editing of collections has
been disabled)</p>
<p align="center"><a href="">Browse existing evaluations</a></p>
<p align="center"><a href="">Execute a new evaluations</a></p>
<p align="left"><br/>
<br/>

</p>
</body>
