
<body lang="en-US" dir="ltr">
<h1 align="center">The FAIR Maturity Evaluation Service</h1>
<br/>
<br/>

<p align="center"><b>Public Entry Points:</b></p><br/><p/>

<p align="center"><a href="./evaluations">Browse existing Maturity Evaluations</a></p>
<p align="center"><a href="./collections">Browse MI Test Collections (Begin New Maturity Evaluation)</a></p>
<br/>
<p align="center"><a href="./collections/new">Register a New MI Test Collection</a></p>
<br/>
<p align="center"><a href="./metrics">Browse Maturity Indicator Tests</a></p>
<p align="center"><a href="./metrics/new">Register a new Maturity Indicator Test</a></p>
<br/>
<br/>
<p align="center"><a href="./searches">Search for MI Tests and Test Collections</a></p>
<br/>
<br/>
<br/>
<br/>
<center><span style='font-size: 50%;'>The FAIR Maturity Evaluation Service was written by Mark D Wilkinson.
It is available under the following <a href='./terms'>TOS</a> and <a href='./license'>License</a></span></center>

<center><span style='font-size: 50%;'>A formal, <a href='http://smart-api.info'>smartAPI</a>-formatted interface descriptor for The FAIR Evaluator
is available <a href='./interface'>HERE</a><br/><br/>

<a href='http://smart-api.info/ui/0e76fc17b6b06bdf883dc88b839c1bf2'>A Swagger-style invocation interface</a> is available via the smartAPI Registry

</span></center>
</body>
