
<body lang="en-US" dir="ltr">
<h1 align="center">The FAIR Evaluator</h1>
<p align="center">Test a (meta)data resource against the <a href="https://www.biorxiv.org/content/early/2017/12/01/225490">FAIR
Metrics</a></p>
<br/>
<br/>

<p align="center"><b>Public Entry Points:</b></p><p/>
<p align="center"><a href="./metrics">Browse Metrics</a></p>
<p align="center"><a href="./metrics/new">Register a new Metric</a></p>
<p align="center"><a href="./collections">Browse Metrics Collections</a></p>
<p align="center"><a href="./collections/new">Create New Metrics Collection</a></p>
<p align="center"><a href="./evaluations">Browse existing evaluations</a></p>
<p align="center"><a href="./evaluations/new">Execute a new evaluation</a></p>
<br/>
<br/>
<br/>
<br/>
<br/>
<center><span style='font-size: -3;'>The FAIR Evaluator was written by Mark D Wilkinson.
It is available under the following <a href='./terms'>TOS</a> and <a href='./license'>License</a></span></center>

<center><span style='font-size: -3;'>A formal, <a href='http://smart-api.info'>smartAPI</a>-formatted interface descriptor for The FAIR Evaluator
is available <a href='./interface'>HERE</a><br/><br/>

<a href='http://smart-api.info/ui/0e76fc17b6b06bdf883dc88b839c1bf2'>A Swagger-style invocation interface</a> is available via the smartAPI Registry

</span></center>
</body>
