<h2>Welcome to The FAIR Evaluator</h2>
	<p>These terms and conditions outline the rules and regulations for the use of The FAIR Evaluator's Website.</p> <br /> 
	
	<p>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use The FAIR Evaluator's website 
	if you do not accept all of the terms and conditions stated on this page.</p>
	<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
	and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
	and accepting the Provider's terms and conditions. “The Provider”, “Ourselves”, “We”, “Our” and “Us”, refers
	to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
	or ourselves. Any use of the above terminology or other words in the singular, plural,
	capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p><h2>Cookies</h2>
	<p>We employ the use of cookies. By using The FAIR Evaluator's website you consent to the use of cookies 
	in accordance with The FAIR Evaluator’s privacy policy.</p><p>Most of the modern day interactive web sites
	use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
	to enable the functionality of this area and ease of use for those people visiting. The cookies used by The Evaluator are exclusively
 those required by the Ruby on Rails core libraries - no other cookies are used.</p><h2><a href='./license'>License</a></h2>
	<p>Brief license notes (non-official): Unless otherwise stated, The FAIR Evaluator and its inputs/outputs are made available via a CC0 license.
	You may view and/or and/or mine and/or store and/or republish and/or representationally-modify and/or print	pages
	from http://linkeddata.systems:3000 for any purpose.  </p>
	
<h2>Hyperlinking to our Content</h2>
	<ol>
		<li>All organizations may link to our Web site without prior written approval
		</li>
	</ol>

<h2>Disclaimer</h2>
<h3>Validity of Outputs</h3>
	<p>We make no guarantees of the validity of output from The FAIR Evaluator.  This software relies on tests, often written by third-parties, that are outside of our curatorial control.  Moreover, we do not guarantee that this software is bug-free.  As such, if you believe the software is producing invalid outputs, or if you believe it is improperly interpreting a given Resource, please contact the site owner with a full description sufficient to reproduce the problem.</p>
<h2>Credit & Contact Information</h2>
Credit for the use of The Evaluator may be given to the FAIR Metrics Authorship Group,
citing the two papers:<br/>
<a href='https://www.biorxiv.org/content/early/2017/12/01/225490'>A design framework and exemplar metrics for FAIRness</a><br/>
 and <a href='https://www.biorxiv.org/content/early/2018/09/25/418376'>Evaluating FAIR-Compliance Through an Objective, Automated, Community-Governed Framework</a>
