

<h1>New Evaluation</h1>

It is not possible to create new evaluations from here.
<br/>
Browse to <%= link_to 'Collections', collections_path %> and click the "New Evaluation" link beside the collection you wish to use.


<%= link_to 'Back', evaluations_path %>
<%= link_to 'Home', about_path %> |

